#main {
    border: 2px solid red;
  }
  
  #start {
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
  }
  
  #start select {
    width: 80px;
    height: 50px;
  }
  
  #board {
    margin: auto;
    border: 2px solid black;
    width: 700px;
    height: 700px;
  }
  
  .menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
    width: 400px;
    height: auto;
    border: 2px solid black;
    font-size: 12px;
  }
  
  .menu button {
    margin: 10px;
    padding: 5px;
  }
  
  .menu select {
    margin: 10px;
    padding: 5px;
  }
  
  #move-history {
    background-color: rgb(83, 83, 83);
    width: 704px;
    margin: 20px;
    margin-bottom: 0;
  }
  
  #game {
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    text-align: center;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal {
    background: rgb(99, 66, 66);
    padding: 20px;
    border-radius: 25px;
    border:1px solid rgb(120, 53, 53);
  }

  .btn-resign {
    border-radius: 10px;
    color: rgb(120, 53, 53);
    transition: .2s linear;
    background: #c6cdd8;
}

.btn-resign:hover {
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.btn-new {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(120, 53, 53);
  border-radius: 10px;
  background-image: linear-gradient(to right, #c7c7c7 0%, #f7faff 51%, #c2c2c2 100%);
}

.btn-new:hover {
   background-position: right center;
}